
*pyc
*swp
*~
gmaps/static/*

*egg-info
*.ipynb_checkpoints*
js/node_modules/*
js/dist/*
.tox/*
docs/build/*
.cache/*
build/*
dist/*
node_modules/

npm-debug.log
package-lock.json

__pycache__

*.ipynb
