
include MANIFEST.in
include *rst *txt *py
recursive-include examples *ipynb
recursive-include gmaps *py *js
recursive-include docs *rst
recursive-include gmaps/datasets/data *csv
recursive-exclude examples/*/.ipynb-checkpoints *
